body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.legend {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 500px;
    text-align: center;
}

.legend p {
    margin: 0 0 10px;
}

.legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.legend li {
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

span {
    padding-left: 5px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    font-size: 25px;
}

label {
    width: 150px;
    margin-right: 10px;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 22px;
    background-color: #333;
    border: 1px solid #444;
    color: #fff;
    width: calc(100% - 170px);
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    background-color: #363358;
    border: 1px solid #555;
    color: #fff;
}

h2 {
    color: #ffcc00;
    font-size: 35px;
}

#crit_result {
    color: #ff8c00; 
}